@font-face {
  font-family: "TheGodfather";
  font-weight: normal;
  font-style: normal;
  src: local("TheGodfather"), url("TkachenkoSketch4F-Bold.ttf") format('truetype');
}
body {
  color: white;
  background-image: url("pokerniy_stol.png");
  background-attachment: fixed;
  background-size: contain;
  counter-reset: nepe;
  margin: 0;
  background-color: #fe3456;
  font-family: "TheGodfather";
  font-size: 3.5vh;
}
body::-webkit-scrollbar { width: 0; height: 0; }
.deck {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
  flex-wrap: nowrap;
  overflow: scroll;
}
.kema, .kemo, .kedo, .keko {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 50vw;
  font-size: 64px;
}
.le {
  min-width: 50%;
  text-align: center;
}
.ke {
  min-width: 50%;
  text-align: center;
}
.deck::-webkit-scrollbar { width: 0; height: 0; }
.card {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height; 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardback, .cardface {
  position: absolute;
  background-size: contain;
  height: 80vh;
  width: 60vh;
  display: block;
}
.cardback {
  background-image: url("svg/davano/hu.svg");
}
.ma .cardface {
  background-image: url("svg/davano/ma.svg");
}
.mo .cardface {
  background-image: url("svg/davano/mo.svg");
}
.do .cardface {
  background-image: url("svg/davano/do.svg");
}
.ko .cardface {
  background-image: url("svg/davano/ko.svg");
}
.nepe, .pene {
  position: absolute;
  background-color: black;
  border-radius: 64px 16px;
  padding: 32px;
  font-size: 64px;
}
.nepe:before {
  counter-increment: nepe;
  content: counter(nepe,decimal-leading-zero);
}
.kema .le:before {
  content: "Мафия";
}
.kemo .le:before {
  content: "Мирный";
}
.kedo .le:before {
  content: "Доктор";
}
.keko .le:before {
 content: "Комиссар";
}
.ma .pene {
  visibility: hidden;
}
.mo .pene {
  visibility: hidden;
}
.do .pene {
  visibility: hidden;
}
.ko .pene {
  visibility: hidden;
}
img {
  height: 80vh;
}
button {
  height: 10vh;
  width: 10vh;
  border-radius: 5vh;
  background-color: #AF4BB5;
  outline: none;
  border: 1vh #E2F966 solid;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}
input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  border: none;
  min-width: 100%;
  background: none;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1vh black solid;
  height: 6vh;
  width: 6vh;
  border-radius: 3vh;
  background: white;
  cursor: pointer;
}
