@font-face {
  font-family: "Hack";
  font-weight: normal;
  font-style: normal;
  src: local("Hack"), url("hack.ttf") format('truetype');
}
body {
  counter-reset: nepe;
  margin: 0;
  background-color: #fe3456;
  font-family: "Hack";
  font-size: 3.5vh;
}
body::-webkit-scrollbar { width: 0; height: 0; }
.deck {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lime;
  flex-wrap: nowrap;
  overflow: scroll;
}
.kema, .kemo, .kedo, .keko {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 50vw;
}
.le {
  min-width: 50%;
  text-align: right;
}
.ke {
  min-width: 50%;
  text-align: left;
}
.deck::-webkit-scrollbar { width: 0; height: 0; }
.card {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height; 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:nth-child(2n) {
  background-color: #fedbac;
}
.card:nth-child(2n+1) {
  background-color: #DCA5EA;
}
.cardback, .cardface {
  position: absolute;
  background-size: contain;
  height: 80vh;
  width: 60vh;
  display: block;
}
.cardback {
  background-image: url("svg/davano/hu.svg");
}
.ma .cardface {
  background-image: url("svg/davano/ma.svg");
}
.mo .cardface {
  background-image: url("svg/davano/mo.svg");
}
.do .cardface {
  background-image: url("svg/davano/do.svg");
}
.ko .cardface {
  background-image: url("svg/davano/ko.svg");
}
.nepe, .pene {
  position: absolute;
  background-color: #E2F966;
  border-radius: 64px 16px;
  padding: 32px;
  font-size: 64px;
}
.nepe:before {
  counter-increment: nepe;
  content: counter(nepe,decimal-leading-zero);
}
.kema .le:before {
  content: "ma:";
}
.kemo .le:before {
  content: "mo:";
}
.kedo .le:before {
  content: "do:";
}
.keko .le:before {
  content: "ko:";
}
.ma .pene:before {
  content: "ma";
}
.mo .pene:before {
  content: "mo";
}
.do .pene:before {
  content: "do";
}
.ko .pene:before {
  content: "ko";
}
img {
  height: 80vh;
}
button {
  height: 10vh;
  width: 10vh;
  border-radius: 5vh;
  background-color: #AF4BB5;
  outline: none;
  border: 1vh #E2F966 solid;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}
input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  border: none;
  min-width: 100%;
  background-color: #DCA5EA;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1vh #AF4BB5 solid;
  height: 6vh;
  width: 6vh;
  border-radius: 3vh;
  background: #E2F966;
  cursor: pointer;
}
