@font-face {
  font-family: "Hack";
  font-weight: normal;
  font-style: normal;
  src: local("Hack"), url("hack.ttf") format('truetype');
}
body {
  counter-reset: nepe;
  margin: 0;
  background-color: #fe3456;
  font-family: "Hack";
  font-size: 3.5vh;
}
body::-webkit-scrollbar { width: 0; height: 0; }
.deck {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lime;
  flex-wrap: nowrap;
  overflow: scroll;
}
.kema, .kemo, .kedo, .keko {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 50vw;
}
.le {
  min-width: 50%;
  text-align: right;
}
.ke {
  min-width: 50%;
  text-align: left;
}
.deck::-webkit-scrollbar { width: 0; height: 0; }
.card {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height; 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:nth-child(2n) {
  background-color: #fedbac;
}
.card:nth-child(2n+1) {
  background-color: #DCA5EA;
}
.cardback, .cardface {
  position: absolute;
  /*background-image: url("svg/vuyeru/nu.svg");*/
  background-image: url("data:image/svg+xml;base64,PD94bWwgd\
  mVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJ\
  hdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgU\
  Gx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjw\
  hRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FT\
  iIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N\
  2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiI\
  HhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGx\
  pbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIge\
  T0iMHB4Ig0KCSB3aWR0aD0iOTAwcHgiIGhlaWdodD0iMTYwMHB4IiB2aWV\
  3Qm94PSIwIDAgOTAwIDE2MDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgM\
  CAwIDkwMCAxNjAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ\
  9Ik04MzYsMjBjMjQuMjYyLDAsNDQsMTkuNzM4LDQ0LDQ0djE0NzJjMCwyN\
  C4yNjItMTkuNzM4LDQ0LTQ0LDQ0SDY0Yy0yNC4yNjMsMC00NC0xOS43Mzg\
  tNDQtNDRWNjRjMC0yNC4yNjIsMTkuNzM3LTQ0LDQ0LTQ0DQoJSDgzNiBNO\
  DM2LDBINjRDMjguNjU0LDAsMCwyOC42NTQsMCw2NHYxNDcyYzAsMzUuMzQ\
  2LDI4LjY1Myw2NCw2NCw2NGg3NzJjMzUuMzQ3LDAsNjQtMjguNjU0LDY0L\
  TY0VjY0QzkwMCwyOC42NTQsODcxLjM0NywwLDgzNiwwDQoJTDgzNiwweiI\
  vPg0KPHBhdGggZmlsbD0iI0FGNEJCNSIgZD0iTTY0LDE1OTBjLTI5Ljc3N\
  iwwLTU0LTI0LjIyNS01NC01NFY2NGMwLTI5Ljc3NiwyNC4yMjQtNTQsNTQ\
  tNTRoNzcyYzI5Ljc3NCwwLDU0LDI0LjIyNCw1NCw1NHYxNDcyDQoJYzAsM\
  jkuNzc1LTI0LjIyNiw1NC01NCw1NEg2NHoiLz4NCjwvc3ZnPg0K");
  background-size: contain;
  height: 80vh;
  width: 45vh;
  display: block;
}
.nepe, .pene {
  position: absolute;
  background-color: #E2F966;
  border-radius: 64px 16px;
  padding: 32px;
  font-size: 64px;
}
.nepe:before {
  counter-increment: nepe;
  content: counter(nepe,decimal-leading-zero);
}
.kema .le:before {
  content: "ma:";
}
.kemo .le:before {
  content: "mo:";
}
.kedo .le:before {
  content: "do:";
}
.keko .le:before {
  content: "ko:";
}
.ma .pene:before {
  content: "ma";
}
.mo .pene:before {
  content: "mo";
}
.do .pene:before {
  content: "do";
}
.ko .pene:before {
  content: "ko";
}
img {
  height: 80vh;
}
button {
  height: 10vh;
  width: 10vh;
  border-radius: 5vh;
  background-color: #AF4BB5;
  outline: none;
  border: 1vh #E2F966 solid;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}
input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  border: none;
  min-width: 100%;
  background-color: #DCA5EA;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1vh #AF4BB5 solid;
  height: 6vh;
  width: 6vh;
  border-radius: 3vh;
  background: #E2F966;
  cursor: pointer;
}
